* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  .container {
    width: 50%;
    border: solid red 1px;

    .card__result {
      display: flex;
      justify-content: space-between;
    }
  }
}
